.Input{
    box-sizing: inherit;
    width: 100%;
    margin-top: 15px;
}

.Body {
    box-sizing: inherit;
    width: 100%;
    position: relative;
}

.Body span {
    font-weight: bold!important;
}

.InputElement {
    margin-top: 10px;
    box-sizing: inherit;
    font-size: 20px;
    border-radius: 16px;
    border: 0px;
    width: 100%;
    padding: 15px;
    position: relative;
}

.InputElement:focus {
    outline: none;
}

.InputElement:hover .Body {
    background: red;
}